{
  "presets": [
    [
      "env",
      {
        "debug": true,
        "useBuiltIns": true,
        "targets": {
          "node": "7",
          "browsers": ["last 2 Chrome versions", "last 2 iOS major versions", "last 5 Android major versions", "last 2 ChromeAndroid major versions"]
        }
      }
    ]
  ]
}
